h1{
    text-shadow: 5px 5px 5px aquamarine;
    box-shadow: 5px 5px 5px green;
}
p{
    color: beige;
    font-family: sans-serif;
    background-color: sandybrown;
    font-size: 20px;
    font-weight: 1000;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
}
.table1{
    color: aqua;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}
button{
    color: green;
    width: 100px;
    background-color: blanchedalmond;
    margin:0 auto;
    cursor: pointer;
}
button:hover{
    background-color: yellow;
}
button:active{
    background-color: cornflowerblue;
}
body{
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.zp8ZMF4MYi7r1WgAI50RFwHaEK&pid=Api&P=0&h=220");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* table{
    color: aquamarine;
    padding-inline: 0px;
    margin-inline: 3px;
    font-size: 20px;
}*/
li{
    color: black  ;
}
a{
    color :azure;
    font-size: 30px;
}
/*body1{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
} */
.search-container {
    color: green;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;/*bo cong viền*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-container input {
    padding: 10px;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-container button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #0056b3;
}
